<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#if (eq step 1)}}
      {{#accordion-list-item
        title=accessConfigTitle
        detail=accessConfigDetail
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=true
      }}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">
              {{t "clusterNew.linode.accessToken.label"}}
              {{field-required}}
            </label>
            {{#input-or-display
              editable=true
              value=cluster.linodeEngineConfig.accessToken
            }}
              {{input
                type="text"
                name="accessToken"
                classNames="form-control"
                placeholder=(t "clusterNew.linode.accessToken.placeholder")
                value=cluster.linodeEngineConfig.accessToken
              }}
            {{/input-or-display}}
            {{cluster.linodeEngineConfig.accessToken}}
          </div>
        </div>
      {{/accordion-list-item}}
      {{top-errors errors=errors}}
      {{save-cancel
        btnLabel="clusterNew.linode.accessConfig.next"
        savingLabel="clusterNew.linode.accessConfig.loading"
        save="verifyAccessToken"
        cancel=close
      }}
    {{else if (eq step 2)}}
      {{#accordion-list-item
        title=clusterConfigTitle
        detail=clusterConfigDetail
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=true
      }}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">
              {{t "clusterNew.linode.region.label"}}
              {{field-required}}
            </label>
            {{#input-or-display
              editable=true
              value=cluster.linodeEngineConfig.region
            }}
              {{new-select
                class="form-control"
                content=regionChoises
                value=cluster.linodeEngineConfig.region
              }}
            {{/input-or-display}}
            {{cluster.linodeEngineConfig.region}}
          </div>
          <div class="col span-12">
            <label class="acc-label">
              {{t "clusterNew.linode.kubernetesVersion.label"}}
              {{field-required}}
            </label>
            {{#input-or-display
              editable=true
              value=cluster.linodeEngineConfig.kubernetesVersion
            }}
              {{new-select
                class="form-control"
                content=k8sVersionChoises
                value=cluster.linodeEngineConfig.kubernetesVersion
              }}
            {{/input-or-display}}
            {{cluster.linodeEngineConfig.kubernetesVersion}}
          </div>
        </div>
      {{/accordion-list-item}}
      {{top-errors errors=errors}}
      {{save-cancel
        btnLabel="clusterNew.linode.clusterConfig.next"
        savingLabel="clusterNew.linode.clusterConfig.loading"
        save="verifyClusterConfig"
        cancel=close
      }}
    {{else if (eq step 3)}}
      {{#accordion-list-item
        title=nodePoolConfigTitle
        detail=nodePoolConfigDetail
        expandAll=expandAll
        expand=(action expandFn)
        expandOnInit=true
      }}{{/accordion-list-item}}
      {{top-errors errors=errors}}
      {{save-cancel
        btnLabel="clusterNew.linode.nodePoolConfig.next"
        savingLabel="clusterNew.linode.nodePoolConfig.loading"
        save="verifyNodePoolConfig"
        cancel=close
      }}
    {{/if}}
  {{/accordion-list}}
  {{! This component shows errors produced by validate() in the component }}
  {{! This component shows the Create and Cancel buttons }}
  {{!-- {{save-cancel save="save" cancel=close}} --}}
</section>